<!-- todo implement search control and pipe-->
<div class="block_list">
  <div class="block_list_title">
    Объекты
  </div>
  <div>
    <input
      type="text"
      class="search"
      placeholder="Поиск"
      [(ngModel)]="search"
      (ngModelChange)="onSearch.emit($event)"
    >
  </div>
  <div>
    <div
      *ngFor="let car of markers | search:search"
      class="block_list_item"
      [ngClass]="{'chose_item': car.id === highlightedItem?.id}"
      (click)="onChoseItem(car)"
    >
      <img src="assets/image/car.png" alt="icon">
      {{ car.name }}
    </div>
  </div>
</div>
